# 데이터 로드

In [9]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/mtcars.csv')
print(data.head())
print(data.shape)

          Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs      am  \
0          Mazda RX4  21.0  6.0  160.0  110  3.90  2.620  16.46   0  manual
1      Mazda RX4 Wag  21.0  6.0  160.0  110  3.90  2.875  17.02   0  manual
2         Datsun 710  22.8  4.0  108.0   93  3.85  2.320  18.61   1  manual
3     Hornet 4 Drive  21.4  6.0  258.0  110  3.08  3.215   0.10   1    auto
4  Hornet Sportabout  18.7  8.0  360.0  175  3.15  3.440  17.02   0    auto

  gear  carb
0    4     4
1    4     4
2    4     1
3    3     1
4    3     2
(32, 12)

In [10]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [11]:
print(data.columns)

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [12]:
print(data.describe())

             mpg        cyl        disp          hp       drat         wt  \
count  32.000000  30.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   7.600000  230.721875  146.687500   3.596563   3.217250
std     6.026948   8.194195  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000  50.000000  472.000000  335.000000   4.930000   5.424000

             qsec         vs     carb
count   31.000000  32.000000  32.0000
mean    19.866774   0.437500   2.8125
std     15.310469   0.504016   1.6152
min      0.100000   0.000000   1.0000
25%     16.785000   0.000000   2.0000
50%     17.600000   0.000000   2.0000
75%     18.755000   1.000000   4.0000
max    100.000000   1.000000   8.0000

In [13]:
print(data['hp'].describe())

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

In [14]:
print(data['am'].unique())

['manual' 'auto']

In [15]:
print(data['gear'].unique())

['4' '3' '*3' '5' '*5']

In [16]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None

In [17]:
print(data.corr())

           mpg       cyl      disp        hp      drat        wt      qsec  \
mpg   1.000000 -0.460227 -0.847551 -0.776168  0.681172 -0.867659  0.013668
cyl  -0.460227  1.000000  0.544876  0.323293 -0.372671  0.533690 -0.012755
disp -0.847551  0.544876  1.000000  0.790949 -0.710214  0.887980  0.181810
hp   -0.776168  0.323293  0.790949  1.000000 -0.448759  0.658748  0.010807
drat  0.681172 -0.372671 -0.710214 -0.448759  1.000000 -0.712441 -0.120283
wt   -0.867659  0.533690  0.887980  0.658748 -0.712441  1.000000  0.093900
qsec  0.013668 -0.012755  0.181810  0.010807 -0.120283  0.093900  1.000000
vs    0.664039 -0.323960 -0.710416 -0.723097  0.440278 -0.554916 -0.112146
carb -0.550925  0.239980  0.394977  0.749812 -0.090790  0.427606 -0.120312

            vs      carb
mpg   0.664039 -0.550925
cyl  -0.323960  0.239980
disp -0.710416  0.394977
hp   -0.723097  0.749812
drat  0.440278 -0.090790
wt   -0.554916  0.427606
qsec -0.112146 -0.120312
vs    1.000000 -0.569607
carb -0.569607  1.000000

In [18]:
X = data.drop(columns='mpg')
Y = data['mpg']
print(X.head())
print()
print(Y.head())

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

# 전처리

In [19]:
print(X.head())

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2

In [20]:
X = X.drop(columns = 'Unnamed: 0')
print(X.head())

   cyl   disp   hp  drat     wt   qsec  vs      am gear  carb
0  6.0  160.0  110  3.90  2.620  16.46   0  manual    4     4
1  6.0  160.0  110  3.90  2.875  17.02   0  manual    4     4
2  4.0  108.0   93  3.85  2.320  18.61   1  manual    4     1
3  6.0  258.0  110  3.08  3.215   0.10   1    auto    3     1
4  8.0  360.0  175  3.15  3.440  17.02   0    auto    3     2

In [21]:
print(X.isnull().sum())

cyl     2
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [22]:
X_cyl_mean = X['cyl'].mean()
#print(X_cyl_mean)
X['cyl'] = X['cyl'].fillna(X_cyl_mean)
print(X.isnull().sum())

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [23]:
X_qsec_median = X['qsec'].median()
#print(X_qsec_median)
X['qsec'] = X['qsec'].fillna(X_qsec_median)
print(X.isnull().sum())

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [24]:
print(X['gear'].unique())

['4' '3' '*3' '5' '*5']

In [25]:
X['gear'] = X['gear'].replace('*3','3').replace('*5','5')
print(X['gear'].unique())

['4' '3' '5']

In [26]:
X_describe = X.describe()
print(X_describe)

             cyl        disp          hp       drat         wt        qsec  \
count  32.000000   32.000000   32.000000  32.000000  32.000000   32.000000
mean    7.600000  230.721875  146.687500   3.596563   3.217250   19.795938
std     7.925459  123.938694   68.562868   0.534679   0.978457   15.066831
min     4.000000   71.100000   52.000000   2.760000   1.513000    0.100000
25%     4.000000  120.825000   96.500000   3.080000   2.581250   16.827500
50%     6.000000  196.300000  123.000000   3.695000   3.325000   17.600000
75%     8.000000  326.000000  180.000000   3.920000   3.610000   18.682500
max    50.000000  472.000000  335.000000   4.930000   5.424000  100.000000

              vs     carb
count  32.000000  32.0000
mean    0.437500   2.8125
std     0.504016   1.6152
min     0.000000   1.0000
25%     0.000000   2.0000
50%     0.000000   2.0000
75%     1.000000   4.0000
max     1.000000   8.0000

In [27]:
print(X_describe.loc['75%'], X_describe.loc['25%'])

cyl       8.0000
disp    326.0000
hp      180.0000
drat      3.9200
wt        3.6100
qsec     18.6825
vs        1.0000
carb      4.0000
Name: 75%, dtype: float64 cyl       4.00000
disp    120.82500
hp       96.50000
drat      3.08000
wt        2.58125
qsec     16.82750
vs        0.00000
carb      2.00000
Name: 25%, dtype: float64

In [28]:
X_iqr = X_describe.loc['75%'] - X_describe.loc['25%']
print(X_iqr)

cyl       4.00000
disp    205.17500
hp       83.50000
drat      0.84000
wt        1.02875
qsec      1.85500
vs        1.00000
carb      2.00000
dtype: float64

In [29]:
print(X_describe.loc['75%'] + (1.5 * X_iqr))

cyl      14.000000
disp    633.762500
hp      305.250000
drat      5.180000
wt        5.153125
qsec     21.465000
vs        2.500000
carb      7.000000
dtype: float64

In [30]:
print(X_describe.loc['max'])

cyl      50.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec    100.000
vs        1.000
carb      8.000
Name: max, dtype: float64

In [31]:
print(X.loc[X['cyl'] > 14])

     cyl   disp   hp  drat    wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.25  17.98   0  auto    3     4

In [32]:
X.loc[14, 'cyl'] = 14
X.loc[14, 'cyl']

14.0

In [33]:
print(X.loc[X['hp'] > 305.25])

    cyl   disp   hp  drat    wt  qsec  vs      am gear  carb
30  8.0  301.0  335  3.54  3.57  14.6   0  manual    5     8

In [34]:
X.loc[30, 'hp'] = 305.25
X.loc[30, 'hp']

305.25

In [35]:
print(X_describe.loc['25%'] - (1.5 * X_iqr))

cyl      -2.000000
disp   -186.937500
hp      -28.750000
drat      1.820000
wt        1.038125
qsec     14.045000
vs       -1.500000
carb     -1.000000
dtype: float64

In [36]:
print(X_describe.loc['min'])

cyl      4.000
disp    71.100
hp      52.000
drat     2.760
wt       1.513
qsec     0.100
vs       0.000
carb     1.000
Name: min, dtype: float64

In [37]:
def outlier(data, column):
  mean = data[column].mean()
  std = data[column].std()
  lowest = mean - (1.5 * std)
  highest = mean + (1.5 * std)
  print('최소 경계값:', lowest, '최대 경계값:', highest)
  outlier_index = data[column][(data[column] < lowest) | (data[column] > highest)].index
  return outlier_index

In [38]:
print(outlier(X, 'qsec'))

최소 경계값: -2.8043094560577657 최대 경계값: 42.39618445605777
Int64Index([24], dtype='int64')

In [39]:
print(X.loc[24, 'qsec'])

100.0

In [40]:
X.loc[24, 'qsec'] = 42.4
print(X.loc[24, 'qsec'])

42.4

In [41]:
print(outlier(X, 'carb'))

최소 경계값: 0.3897000335522218 최대 경계값: 5.235299966447778
Int64Index([29, 30], dtype='int64')

In [42]:
print(X.loc[[29,30], 'carb'])

29    6
30    8
Name: carb, dtype: int64

In [43]:
X.loc[29, 'carb'] = 5.24
X.loc[30, 'carb'] = 5.24
X.loc[[29,30], 'carb']

29    5.24
30    5.24
Name: carb, dtype: float64

In [44]:
#표준 크기변환
from sklearn.preprocessing import StandardScaler

temp = X[['qsec']]

In [45]:
model = StandardScaler()

print(model.fit_transform(temp))

[[-2.73141413e-01]
 [-1.73554554e-01]
 [ 1.09200992e-01]
 [-3.18250037e+00]
 [-1.73554554e-01]
 [ 3.95513212e-01]
 [-3.83398293e-01]
 [ 3.56389804e-01]
 [ 8.72107467e-01]
 [ 5.40725524e-02]
 [-7.04110215e-02]
 [-1.05977757e-01]
 [-7.04110215e-02]
 [ 7.22449313e-04]
 [-2.83422423e-03]
 [-3.12876126e-02]
 [-1.02421083e-01]
 [ 2.62137955e-01]
 [ 9.31959614e-02]
 [ 3.38606436e-01]
 [ 3.58168140e-01]
 [-2.00229606e-01]
 [-1.23761125e-01]
 [-4.59866774e-01]
 [ 4.33986417e+00]
 [ 1.60772759e-01]
 [-2.30461331e-01]
 [-1.94894596e-01]
 [-6.21695421e-01]
 [-4.43861743e-01]
 [-6.03912053e-01]
 [ 1.07422656e-01]]

In [46]:
qsec_s_scaler = pd.DataFrame(model.fit_transform(temp))
print(qsec_s_scaler.describe())

                  0
count  3.200000e+01
mean  -6.461845e-16
std    1.016001e+00
min   -3.182500e+00
25%   -2.077875e-01
50%   -7.041102e-02
75%    1.220939e-01
max    4.339864e+00

In [47]:
#최소최대 크기변환
from sklearn.preprocessing import MinMaxScaler

temp = X[['qsec']]

In [48]:
model = MinMaxScaler()

qsec_m_scaler = pd.DataFrame(model.fit_transform(temp))
print(qsec_m_scaler)

           0
0   0.386761
1   0.400000
2   0.437589
3   0.000000
4   0.400000
5   0.475650
6   0.372104
7   0.470449
8   0.539007
9   0.430260
10  0.413712
11  0.408983
12  0.413712
13  0.423168
14  0.422695
15  0.418913
16  0.409456
17  0.457920
18  0.435461
19  0.468085
20  0.470686
21  0.396454
22  0.406619
23  0.361939
24  1.000000
25  0.444444
26  0.392435
27  0.397163
28  0.340426
29  0.364066
30  0.342790
31  0.437352

In [49]:
print(qsec_m_scaler.describe())

               0
count  32.000000
mean    0.423072
std     0.135064
min     0.000000
25%     0.395449
50%     0.413712
75%     0.439303
max     1.000000

In [50]:
#로버스트 크기변환
from sklearn.preprocessing import RobustScaler

temp = X[['qsec']]

In [51]:
model = RobustScaler()

qsec_r_scaler = pd.DataFrame(model.fit_transform(temp))
print(qsec_r_scaler)
print()
print(qsec_r_scaler.describe())

            0
0   -0.614555
1   -0.312668
2    0.544474
3   -9.433962
4   -0.312668
5    1.412399
6   -0.948787
7    1.293801
8    2.857143
9    0.377358
10   0.000000
11  -0.107817
12   0.000000
13   0.215633
14   0.204852
15   0.118598
16  -0.097035
17   1.008086
18   0.495957
19   1.239892
20   1.299191
21  -0.393531
22  -0.161725
23  -1.180593
24  13.369272
25   0.700809
26  -0.485175
27  -0.377358
28  -1.671159
29  -1.132075
30  -1.617251
31   0.539084

               0
count  32.000000
mean    0.213443
std     3.079897
min    -9.433962
25%    -0.416442
50%     0.000000
75%     0.583558
max    13.369272

In [52]:
print(X.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     float64
 1   disp    32 non-null     float64
 2   hp      32 non-null     float64
 3   drat    32 non-null     float64
 4   wt      32 non-null     float64
 5   qsec    32 non-null     float64
 6   vs      32 non-null     int64
 7   am      32 non-null     object
 8   gear    32 non-null     object
 9   carb    32 non-null     float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.6+ KB
None

In [53]:
X['gear'] = X['gear'].astype('int64')
X['gear'].dtype

dtype('int64')

In [54]:
#원핫 인코딩
print(X.head())

   cyl   disp     hp  drat     wt   qsec  vs      am  gear  carb
0  6.0  160.0  110.0  3.90  2.620  16.46   0  manual     4   4.0
1  6.0  160.0  110.0  3.90  2.875  17.02   0  manual     4   4.0
2  4.0  108.0   93.0  3.85  2.320  18.61   1  manual     4   1.0
3  6.0  258.0  110.0  3.08  3.215   0.10   1    auto     3   1.0
4  8.0  360.0  175.0  3.15  3.440  17.02   0    auto     3   2.0

In [55]:
print(X['am'].unique())

['manual' 'auto']

In [56]:
print(pd.get_dummies(X['am']))

    auto  manual
0      0       1
1      0       1
2      0       1
3      1       0
4      1       0
5      1       0
6      1       0
7      1       0
8      1       0
9      1       0
10     1       0
11     1       0
12     1       0
13     1       0
14     1       0
15     1       0
16     1       0
17     0       1
18     0       1
19     0       1
20     1       0
21     1       0
22     1       0
23     1       0
24     1       0
25     0       1
26     0       1
27     0       1
28     0       1
29     0       1
30     0       1
31     0       1

In [57]:
print(pd.get_dummies(X['am'], drop_first = True))

    manual
0        1
1        1
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       1
18       1
19       1
20       0
21       0
22       0
23       0
24       0
25       1
26       1
27       1
28       1
29       1
30       1
31       1

In [58]:
print(pd.get_dummies(X, drop_first=True))

     cyl   disp      hp  drat     wt   qsec  vs  gear  carb  am_manual
0    6.0  160.0  110.00  3.90  2.620  16.46   0     4  4.00          1
1    6.0  160.0  110.00  3.90  2.875  17.02   0     4  4.00          1
2    4.0  108.0   93.00  3.85  2.320  18.61   1     4  1.00          1
3    6.0  258.0  110.00  3.08  3.215   0.10   1     3  1.00          0
4    8.0  360.0  175.00  3.15  3.440  17.02   0     3  2.00          0
5    6.0  225.0  105.00  2.76  3.460  20.22   1     3  1.00          0
6    8.0  360.0  245.00  3.21  3.570  15.84   0     3  4.00          0
7    7.6  146.7   62.00  3.69  3.190  20.00   1     4  2.00          0
8    4.0  140.8   95.00  3.92  3.150  22.90   1     4  2.00          0
9    6.0  167.6  123.00  3.92  3.440  18.30   1     4  4.00          0
10   6.0  167.6  123.00  3.92  3.440  17.60   1     4  4.00          0
11   8.0  275.8  180.00  3.07  4.070  17.40   0     3  3.00          0
12   8.0  275.8  180.00  3.07  3.730  17.60   0     3  3.00          0
13   8.0  275.8  180.00  3.07  3.780  18.00   0     3  3.00          0
14  14.0  472.0  205.00  2.93  5.250  17.98   0     3  4.00          0
15   8.0  460.0  215.00  3.00  5.424  17.82   0     3  4.00          0
16   8.0  440.0  230.00  3.23  5.345  17.42   0     3  4.00          0
17   4.0   78.7   66.00  4.08  2.200  19.47   1     4  1.00          1
18   4.0   75.7   52.00  4.93  1.615  18.52   1     4  2.00          1
19   4.0   71.1   65.00  4.22  1.835  19.90   1     4  1.00          1
20   4.0  120.1   97.00  3.70  2.465  20.01   1     3  1.00          0
21   8.0  318.0  150.00  2.76  3.520  16.87   0     3  2.00          0
22   8.0  304.0  150.00  3.15  3.435  17.30   0     3  2.00          0
23   8.0  350.0  245.00  3.73  3.840  15.41   0     3  4.00          0
24   7.6  400.0  175.00  3.08  3.845  42.40   0     3  2.00          0
25   4.0   79.0   66.00  4.08  1.935  18.90   1     4  1.00          1
26   4.0  120.3   91.00  4.43  2.140  16.70   0     5  2.00          1
27   4.0   95.1  113.00  3.77  1.513  16.90   1     5  2.00          1
28   8.0  351.0  264.00  4.22  3.170  14.50   0     5  4.00          1
29   6.0  145.0  175.00  3.62  2.770  15.50   0     5  5.24          1
30   8.0  301.0  305.25  3.54  3.570  14.60   0     5  5.24          1
31   4.0  121.0  109.00  4.11  2.780  18.60   1     4  2.00          1

In [59]:
#라벨 인코딩
print(X['am'].head())

0    manual
1    manual
2    manual
3      auto
4      auto
Name: am, dtype: object

In [60]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
print(encoder.fit_transform(X['am']))

[1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1]

In [61]:
fruit = ['apple', 'banana', 'grape']
encoder = LabelEncoder()
fruit_new = encoder.fit_transform(fruit)
print(fruit, fruit_new)

['apple', 'banana', 'grape'] [0 1 2]

In [62]:
#수동 인코딩
X['am_new'] = X['am'].replace('manual', 0).replace('auto', 1)
print(X.head())

   cyl   disp     hp  drat     wt   qsec  vs      am  gear  carb  am_new
0  6.0  160.0  110.0  3.90  2.620  16.46   0  manual     4   4.0       0
1  6.0  160.0  110.0  3.90  2.875  17.02   0  manual     4   4.0       0
2  4.0  108.0   93.0  3.85  2.320  18.61   1  manual     4   1.0       0
3  6.0  258.0  110.0  3.08  3.215   0.10   1    auto     3   1.0       1
4  8.0  360.0  175.0  3.15  3.440  17.02   0    auto     3   2.0       1

In [63]:
X = X.drop(columns = 'am')

In [64]:
print(X.head())

   cyl   disp     hp  drat     wt   qsec  vs  gear  carb  am_new
0  6.0  160.0  110.0  3.90  2.620  16.46   0     4   4.0       0
1  6.0  160.0  110.0  3.90  2.875  17.02   0     4   4.0       0
2  4.0  108.0   93.0  3.85  2.320  18.61   1     4   1.0       0
3  6.0  258.0  110.0  3.08  3.215   0.10   1     3   1.0       1
4  8.0  360.0  175.0  3.15  3.440  17.02   0     3   2.0       1

In [65]:
#파생변수 만들기
print(X['wt'] < 3.3)

0      True
1      True
2      True
3      True
4     False
5     False
6     False
7      True
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18     True
19     True
20     True
21    False
22    False
23    False
24    False
25     True
26     True
27     True
28     True
29     True
30    False
31     True
Name: wt, dtype: bool

In [66]:
condition = X['wt'] < 3.3
X.loc[condition, 'wt_class'] = 0
X.loc[~condition, 'wt_class'] = 1
print(X[['wt', 'wt_class']])

       wt  wt_class
0   2.620       0.0
1   2.875       0.0
2   2.320       0.0
3   3.215       0.0
4   3.440       1.0
5   3.460       1.0
6   3.570       1.0
7   3.190       0.0
8   3.150       0.0
9   3.440       1.0
10  3.440       1.0
11  4.070       1.0
12  3.730       1.0
13  3.780       1.0
14  5.250       1.0
15  5.424       1.0
16  5.345       1.0
17  2.200       0.0
18  1.615       0.0
19  1.835       0.0
20  2.465       0.0
21  3.520       1.0
22  3.435       1.0
23  3.840       1.0
24  3.845       1.0
25  1.935       0.0
26  2.140       0.0
27  1.513       0.0
28  3.170       0.0
29  2.770       0.0
30  3.570       1.0
31  2.780       0.0

In [67]:
X = X.drop(columns = ['wt'])
print(X.head())

   cyl   disp     hp  drat   qsec  vs  gear  carb  am_new  wt_class
0  6.0  160.0  110.0  3.90  16.46   0     4   4.0       0       0.0
1  6.0  160.0  110.0  3.90  17.02   0     4   4.0       0       0.0
2  4.0  108.0   93.0  3.85  18.61   1     4   1.0       0       0.0
3  6.0  258.0  110.0  3.08   0.10   1     3   1.0       1       0.0
4  8.0  360.0  175.0  3.15  17.02   0     3   2.0       1       1.0

In [68]:
X['qsec_4'] = X['qsec'] * 4
print(X[['qsec', 'qsec_4']])

     qsec  qsec_4
0   16.46   65.84
1   17.02   68.08
2   18.61   74.44
3    0.10    0.40
4   17.02   68.08
5   20.22   80.88
6   15.84   63.36
7   20.00   80.00
8   22.90   91.60
9   18.30   73.20
10  17.60   70.40
11  17.40   69.60
12  17.60   70.40
13  18.00   72.00
14  17.98   71.92
15  17.82   71.28
16  17.42   69.68
17  19.47   77.88
18  18.52   74.08
19  19.90   79.60
20  20.01   80.04
21  16.87   67.48
22  17.30   69.20
23  15.41   61.64
24  42.40  169.60
25  18.90   75.60
26  16.70   66.80
27  16.90   67.60
28  14.50   58.00
29  15.50   62.00
30  14.60   58.40
31  18.60   74.40

In [69]:
X = X.drop(columns = ['qsec'])
print(X.head())

   cyl   disp     hp  drat  vs  gear  carb  am_new  wt_class  qsec_4
0  6.0  160.0  110.0  3.90   0     4   4.0       0       0.0   65.84
1  6.0  160.0  110.0  3.90   0     4   4.0       0       0.0   68.08
2  4.0  108.0   93.0  3.85   1     4   1.0       0       0.0   74.44
3  6.0  258.0  110.0  3.08   1     3   1.0       1       0.0    0.40
4  8.0  360.0  175.0  3.15   0     3   2.0       1       1.0   68.08

# 모델 생성과 모델 검증

In [70]:
#학습 데이터와 테스트 데이터 분리
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=10)

In [71]:
print(x_train.head())

     cyl   disp     hp  drat  vs  gear  carb  am_new  wt_class  qsec_4
19   4.0   71.1   65.0  4.22   1     4   1.0       0       0.0   79.60
14  14.0  472.0  205.0  2.93   0     3   4.0       1       1.0   71.92
18   4.0   75.7   52.0  4.93   1     4   2.0       0       0.0   74.08
6    8.0  360.0  245.0  3.21   0     3   4.0       1       1.0   63.36
11   8.0  275.8  180.0  3.07   0     3   3.0       1       1.0   69.60

In [72]:
print(x_test.head())

    cyl   disp     hp  drat  vs  gear  carb  am_new  wt_class  qsec_4
20  4.0  120.1   97.0  3.70   1     3   1.0       1       0.0   80.04
7   7.6  146.7   62.0  3.69   1     4   2.0       1       0.0   80.00
5   6.0  225.0  105.0  2.76   1     3   1.0       1       1.0   80.88
2   4.0  108.0   93.0  3.85   1     4   1.0       0       0.0   74.44
3   6.0  258.0  110.0  3.08   1     3   1.0       1       0.0    0.40

In [73]:
print(y_train.head())

19    33.9
14    10.4
18    30.4
6     14.3
11    16.4
Name: mpg, dtype: float64

In [74]:
print(y_test.head())

20    21.5
7     24.4
5     18.1
2     22.8
3     21.4
Name: mpg, dtype: float64

## 예측 모델링

In [75]:
#선형회귀
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)

y_train_pred = model.predict(x_train)
y_test_pred = model.predict(x_test)

In [76]:
print(model.intercept_)

24.26552115173736

In [77]:
print(model.coef_)

[-0.1377911  -0.01232928 -0.0040568   0.96534612  1.12238925  0.65881528
 -1.97413606 -3.5808843   0.01909443  0.02391911]

In [78]:
print(model.score(x_train, y_train))

0.9063093378173551

In [79]:
print(model.score(x_test, y_test))

0.10175657965803919

In [80]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np

In [81]:
print(r2_score(y_train, y_train_pred))

0.9063093378173551

In [82]:
print(r2_score(y_test, y_test_pred))

0.10175657965803919

In [83]:
print(mean_absolute_error(y_test, y_test_pred))

2.3748512893291083

In [84]:
print(mean_squared_error(y_test, y_test_pred))

8.923150137677037

In [85]:
print(np.sqrt(mean_squared_error(y_test, y_test_pred)))

2.9871642301147485

In [86]:
#랜덤 포레스트 회귀
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=10)
model.fit(x_train, y_train)

y_train_pred = model.predict(x_train)
y_test_pred = model.predict(x_test)

In [87]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

print(r2_score(y_train, y_train_pred))
print(r2_score(y_test, y_test_pred))
print(mean_squared_error(y_test, y_test_pred))
print(mean_absolute_error(y_test, y_test_pred))

0.9799238759255713
0.379084225890872
6.168177300000077
1.809100000000011

In [88]:
model = RandomForestRegressor(n_estimators=1000, criterion='mae', random_state=10)
model.fit(x_train, y_train)

y_train_pred = model.predict(x_train)
y_test_pred = model.predict(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

In [89]:
print(r2_score(y_train, y_train_pred))
print(r2_score(y_test, y_test_pred))
print(mean_squared_error(y_test, y_test_pred))
print(mean_absolute_error(y_test, y_test_pred))

0.9805355759422818
0.44313226215521484
5.531924107750095
1.7446750000000346

In [90]:
#GBR
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor(random_state=10)
model.fit(x_train, y_train)

y_train_pred = model.predict(x_train)
y_test_pred = model.predict(x_test)

In [91]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

print(r2_score(y_train, y_train_pred))
print(r2_score(y_test, y_test_pred))
print(mean_squared_error(y_test, y_test_pred))
print(mean_absolute_error(y_test, y_test_pred))

0.9999908554215274
0.1559551191323465
8.384741846539269
2.1754887773282503

In [92]:
#XGBRegressor
from xgboost import XGBRegressor
model = XGBRegressor(random_state=10)
model.fit(x_train, y_train)

y_train_pred = model.predict(x_train)
y_test_pred = model.predict(x_test)

[09:37:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [93]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
print(r2_score(y_train, y_train_pred))
print(r2_score(y_test, y_test_pred))
print(mean_squared_error(y_test, y_test_pred))
print(mean_absolute_error(y_test, y_test_pred))

0.9994029070331579
0.4476128447475184
5.487414000278152
2.0459949302673337

## 분류 모델링

In [94]:
#종속변수 가공 작업
x_train2 = x_train.drop(columns= 'am_new')
y_train2 = x_train['am_new']

x_test2 = x_test.drop(columns= 'am_new')
y_test2 = x_test['am_new']

In [95]:
print(x_train2.head())
print(x_test2.head())
print(y_train2.head())
print(y_test2.head())

     cyl   disp     hp  drat  vs  gear  carb  wt_class  qsec_4
19   4.0   71.1   65.0  4.22   1     4   1.0       0.0   79.60
14  14.0  472.0  205.0  2.93   0     3   4.0       1.0   71.92
18   4.0   75.7   52.0  4.93   1     4   2.0       0.0   74.08
6    8.0  360.0  245.0  3.21   0     3   4.0       1.0   63.36
11   8.0  275.8  180.0  3.07   0     3   3.0       1.0   69.60
    cyl   disp     hp  drat  vs  gear  carb  wt_class  qsec_4
20  4.0  120.1   97.0  3.70   1     3   1.0       0.0   80.04
7   7.6  146.7   62.0  3.69   1     4   2.0       0.0   80.00
5   6.0  225.0  105.0  2.76   1     3   1.0       1.0   80.88
2   4.0  108.0   93.0  3.85   1     4   1.0       0.0   74.44
3   6.0  258.0  110.0  3.08   1     3   1.0       0.0    0.40
19    0
14    1
18    0
6     1
11    1
Name: am_new, dtype: int64
20    1
7     1
5     1
2     0
3     1
Name: am_new, dtype: int64

In [96]:
#의사결정나무 분류
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train2, y_train2)
y_test2_pred = model.predict(x_test2)

In [97]:
from sklearn.metrics import roc_auc_score, accuracy_score, precision_score, recall_score
print(roc_auc_score(y_test2, y_test2_pred))
print(accuracy_score(y_test2, y_test2_pred))
print(precision_score(y_test2, y_test2_pred))
print(recall_score(y_test2, y_test2_pred))

0.7857142857142857
0.7
1.0
0.5714285714285714

In [98]:
#랜덤 포레스트 분류
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train2, y_train2)
y_test2_pred = model.predict(x_test2)

In [99]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test2, y_test2_pred))

0.8571428571428572

In [100]:
#로지스틱 회귀
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(x_train2, y_train2)
y_test2_pred = model.predict(x_test2)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [101]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test2, y_test2_pred))

0.5952380952380953

In [102]:
#XGBClassifier
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(x_train2, y_train2)

y_test2_pred = model.predict(x_test2)

In [103]:
print(y_test2_pred)

[0 0 1 0 1 1 1 1 1 0]

In [104]:
y_test2_proba = model.predict_proba(x_test2)
print(y_test2_proba)

[[0.55889904 0.44110098]
 [0.6538493  0.3461507 ]
 [0.03395873 0.96604127]
 [0.8737407  0.1262593 ]
 [0.11220491 0.8877951 ]
 [0.06976068 0.9302393 ]
 [0.04053593 0.9594641 ]
 [0.39705497 0.602945  ]
 [0.04464304 0.95535696]
 [0.85149    0.14851001]]

In [105]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test2, y_test2_pred))

0.6904761904761906

In [106]:
#서포트 벡터 분류 SVC
from sklearn.svm import SVC
model = SVC()
model.fit(x_train2, y_train2)
y_test2_pred = model.predict(x_test2)

In [107]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test2, y_test2_pred))

0.6904761904761906

In [108]:
#배깅 분류
from sklearn.ensemble import BaggingClassifier
model = BaggingClassifier()
model.fit(x_train2, y_train2)
y_test2_pred = model.predict(x_test2)

In [109]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test2, y_test2_pred))

0.8

In [110]:
#K-최근접 이웃 분류(KNN)
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(x_train2, y_train2)
y_test2_pred = model.predict(x_test2)

In [111]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test2, y_test2_pred))

0.5238095238095238

In [112]:
#다층 퍼셉트론 분류(MLP)
from sklearn.neural_network import MLPClassifier
model = MLPClassifier()
model.fit(x_train2, y_train2)
y_test2_pred = model.predict(x_test2)

In [113]:
from sklearn.metrics import roc_auc_score, accuracy_score
print(roc_auc_score(y_test2, y_test2_pred))
print(accuracy_score(y_test2, y_test2_pred))

0.5952380952380953
0.7

# 최종 결과 공유

In [114]:
print(type(y_test2_pred))

<class 'numpy.ndarray'>

In [115]:
pd.DataFrame(y_test2_pred).to_csv('/content/drive/MyDrive/12345.csv', index=False)

In [116]:
check = pd.read_csv('/content/drive/MyDrive/12345.csv')
check

   0
0  0
1  1
2  1
3  0
4  1
5  1
6  1
7  1
8  1
9  1

# 작업형 제1유형

## 1. Top10 구하기

In [125]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')
# print(data.info())
# print(data.head())

print(data.sort_values(by='MEDV', ascending=True))

         CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  \
398  38.35180   0.0  18.10     0  0.693    NaN  100.0  1.4896   24  666
405  67.92080   0.0  18.10     0  0.693  5.683  100.0  1.4254   24  666
400  25.04610   0.0  18.10     0  0.693  5.987  100.0  1.5888   24  666
399   9.91655   0.0  18.10     0  0.693  5.852   77.8  1.5004   24  666
414  45.74610   0.0  18.10     0  0.693  4.519  100.0  1.6582   24  666
..        ...   ...    ...   ...    ...    ...    ...     ...  ...  ...
166   2.01019   0.0  19.58     0  0.605  7.929   96.2  2.0459    5  403
195   0.01381  80.0   0.46     0  0.422  7.875   32.0  5.6484    4  255
283   0.01501  90.0   1.21     1  0.401  7.923   24.8  5.8850    1  198
225   0.52693   0.0   6.20     0  0.504  8.725   83.0  2.8944    8  307
186   0.05602   0.0   2.46     0  0.488  7.831   53.6  3.1992    3  193

     PTRATIO       B  LSTAT  MEDV
398     20.2  396.90  30.59   5.0
405     20.2  384.97  22.98   5.0
400     20.2  396.90  26.77   5.6
399     20.2  338.16  29.97   6.3
414     20.2   88.27  36.98   7.0
..       ...     ...    ...   ...
166     14.7  369.30   3.70  50.0
195     14.4  394.23   2.97  50.0
283     13.6  395.52   3.16  50.0
225     17.4  382.00   4.63  50.0
186     17.8  392.63   4.45  50.0

[506 rows x 14 columns]

In [126]:
print(data.sort_values(by='MEDV', ascending=True)['MEDV'])

398     5.0
405     5.0
400     5.6
399     6.3
414     7.0
       ...
166    50.0
195    50.0
283    50.0
225    50.0
186    50.0
Name: MEDV, Length: 506, dtype: float64

In [127]:
print(data.sort_values(by='MEDV', ascending=True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

In [128]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')
print(data.sort_values(by='MEDV', ascending=True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

## 2. 결측치 확인하기

In [131]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')
print(data.isnull().sum())

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM         15
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV        0
dtype: int64
15

In [132]:
#평균값 대치
data_mean = data['RM'].copy()
print(data_mean.isnull().sum())

15

In [133]:
rm_mean = data_mean.mean()
print(rm_mean)

6.285101832993899

In [134]:
print(data_mean.fillna(rm_mean, inplace=False))

0      6.575000
1      6.421000
2      7.185000
3      6.998000
4      7.147000
         ...
501    6.593000
502    6.285102
503    6.976000
504    6.794000
505    6.030000
Name: RM, Length: 506, dtype: float64

In [135]:
print(data_mean.isnull().sum())

15

In [136]:
data_mean.fillna(rm_mean, inplace=True)
print(data_mean.isnull().sum())

0

In [137]:
data_del = data['RM'].copy()
print(data_del.isnull().sum())

15

In [138]:
print(data_del.shape)

(506,)

In [139]:
data_del.dropna(inplace=True)

In [140]:
print(data_del.shape)

(491,)

In [141]:
print(data_del.isnull().sum())

0

In [142]:
print(data_mean.std())

0.6975001826300911

In [143]:
print(data_del.std())

0.7080957287241957

In [144]:
print(abs(data_mean.std() - data_del.std()))

0.010595546094104624

In [145]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')
data_mean = data['RM'].copy()
rm_mean = data_mean.mean()
data_mean.fillna(rm_mean, inplace=True)

data_del = data['RM'].copy()
data_del.dropna(inplace=True)

print(abs(data_mean.std() - data_del.std()))

0.010595546094104624

## 3. 이상값 확인하기

In [157]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')
zn_mean = data['ZN'].mean()
zn_std = data['ZN'].std()

zn_max = zn_mean + (1.5 * zn_std)
# print(zn_max)

zn_min = zn_mean - (1.5 * zn_std)
# print(zn_min)

# print(data[data['ZN'] > zn_max]['ZN'])
# print(data[data['ZN'] < zn_min]['ZN'])

zn_max2 = data[data['ZN'] > zn_max]['ZN']
# print(zn_max2)

zn_min2 = data[data['ZN'] < zn_min]['ZN']
# print(zn_min2)

print(sum(zn_max2))
# print(sum(data[data['ZN'] > zn_max]['ZN']) + sum(data[data['ZN'] < zn_min]['ZN']))

3462.5

In [159]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')
zn_mean = data['ZN'].mean()
zn_std = data['ZN'].std()
zn_max = zn_mean + (1.5 * zn_std)
zn_min = zn_mean - (1.5 * zn_std)

zn_max2 = data[data['ZN'] > zn_max]['ZN']
zn_min2 = data[data['ZN'] < zn_min]['ZN']

print(sum(zn_max2) + sum(zn_min2))

3462.5

## 4. 사분위수 구하기

In [163]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')
data = data.drop(columns=['CHAS', 'RAD'])
data.head()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,222,18.7,396.90,5.33,36.2

In [164]:
data_desc = data.describe()
data_desc

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,491.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.554695,6.285102,68.574901,3.795043,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.115878,0.708096,28.148861,2.105710,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.385000,3.561000,2.900000,1.129600,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.449000,5.886000,45.025000,2.100175,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.538000,6.209000,77.500000,3.207450,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.624000,6.622000,94.075000,5.188425,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,0.871000,8.780000,100.000000,12.126500,711.000000,22.000000,396.900000,37.970000,50.000000

In [167]:
data_desc_T = data_desc.iloc[[4,6]].T

In [168]:
data_desc_T

                25%         75%
CRIM       0.082045    3.677083
ZN         0.000000   12.500000
INDUS      5.190000   18.100000
NOX        0.449000    0.624000
RM         5.886000    6.622000
AGE       45.025000   94.075000
DIS        2.100175    5.188425
TAX      279.000000  666.000000
PTRATIO   17.400000   20.200000
B        375.377500  396.225000
LSTAT      6.950000   16.955000
MEDV      17.025000   25.000000

In [169]:
print(data_desc_T['75%'] - data_desc_T['25%'])

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

In [170]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')
data = data.drop(columns= ['CHAS', 'RAD'])
data_desc = data.describe()
data_desc_T = data_desc.iloc[[4,6]].T
print(data_desc_T['75%'] - data_desc_T['25%'])

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

## 5. 순위 구하기

In [174]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')
data_new = data['MEDV'].sort_values(ascending=False)
print(data_new.head(30))

283    50.0
225    50.0
369    50.0
370    50.0
371    50.0
372    50.0
186    50.0
204    50.0
257    50.0
195    50.0
166    50.0
163    50.0
267    50.0
162    50.0
161    50.0
368    50.0
262    48.8
203    48.5
233    48.3
228    46.7
282    46.0
280    45.4
224    44.8
256    44.0
98     43.8
268    43.5
261    43.1
253    42.8
202    42.3
232    41.7
Name: MEDV, dtype: float64

In [176]:
data_new.iloc[0:29] = 41.7
data_new

283    41.7
225    41.7
369    41.7
370    41.7
371    41.7
       ...
414     7.0
399     6.3
400     5.6
398     5.0
405     5.0
Name: MEDV, Length: 506, dtype: float64

In [177]:
print(data_new.mean(), data_new.median(), data_new.min(), data_new.max())

22.179644268774698 21.2 5.0 41.7

In [181]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')
data_new = data['MEDV'].sort_values(ascending=False)
data_new.iloc[0:29] = 41.7
print(data_new.mean(), data_new.median(), data_new.min(), data_new.max())

22.179644268774698 21.2 5.0 41.7