In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

I. 단순한 데이터 분석

1. Top 10 구하기

In [ ]:
#라이브러리, 데이터 로드
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')

#데이터 살펴보기
# print(data.head())

#오름차순 정렬 및 Top 10 구하기
data_new = data.sort_values(by='MEDV', ascending=True)
print(data_new['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

2. 결측치 확인하기

In [ ]:
#라이브러리, 데이터 로드
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')

#결측치 확인
# print(data.isnull().sum())

#평균값 대치
data_mean = data['RM'].copy()
rm_mean = data_mean.mean()
data_mean.fillna(rm_mean, inplace=True)

#결측치 삭제
data_del = data['RM'].copy()
data_del.dropna(inplace=True)

#표준편차 값 차이
print(abs(data_mean.std() - data_del.std()))

0.010595546094104624

3. 이상값 확인하기

In [ ]:
#라이브러리, 데이터 로드
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')

#평균값, 표준편차
zn_mean = data['ZN'].mean()
zn_std = data['ZN'].std()

#최대경계값, 최소경계값 구하기 & 이상값 체크
zn_max = zn_mean + (1.5 * zn_std)
zn_min = zn_mean - (1.5 * zn_std)

# print(data[data['ZN'] > zn_max]['ZN'])
# print(data[data['ZN'] < zn_min]['ZN'])

#이상값 합계
print(sum(data[data['ZN'] > zn_max]['ZN']))

3462.5

4. 사분위수 구하기

In [ ]:
#라이브러리, 데이터 로드
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')

#칼럼 제외
data_new = data.drop(columns=['CHAS', 'RAD'])
# print(data_new.head())

#칼럼별 describe
data_desc = data_new.describe()
data_desc = pd.DataFrame(data_desc)
# print(data_desc)

#사분위수 데이터프레임 만들기
data_desc_T = data_desc.iloc[[4,6]].T

#IQR 구하기
print(data_desc_T['75%'] - data_desc_T['25%'])

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

5. 순위 구하기

In [ ]:
#라이브러리, 데이터 로드
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')

#내림차순 정렬
data_new = data['MEDV'].copy()
data_new = data_new.sort_values(ascending=False)
# print(data_new.head(30))

#30번째로 큰 값 구하기 & 1~29번째에 적용
# print(data_new.iloc[29])
data_new.iloc[0:29] = 41.7
# print(data_new)

#평균값, 중위값, 최솟값, 최댓값
print(data_new.mean(), data_new.median(), data_new.min(), data_new.max())

22.179644268774698 21.2 5.0 41.7

II. 복잡한 데이터 분석

1. 그룹별 집계/요약하기

In [ ]:
#라이브러리, 데이터 로드
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')

In [ ]:
#중위값
tax_median = data['TAX'].median()
print(tax_median)

330.0

In [ ]:
#중위값보다 큰지 여부 확인
print(data['TAX'] > tax_median)

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: TAX, Length: 506, dtype: bool

In [ ]:
#중위값보다 큰 값 기준으로 CHAS, RAD 칼럼만 추출
print(data[data['TAX'] > tax_median][['CHAS', 'RAD']])
data_new = data[data['TAX'] > tax_median][['CHAS', 'RAD']]

     CHAS  RAD
54      0    3
65      0    4
66      0    4
67      0    4
68      0    4
..    ...  ...
496     0    6
497     0    6
498     0    6
499     0    6
500     0    6

[250 rows x 2 columns]

In [ ]:
#CHAS, RAD 값 종류 확인
print(data_new['CHAS'].unique())
print()
print(data_new['RAD'].unique())

[0 1]

[ 3  4  5  6  2  1 24]

In [ ]:
#그룹화
data_new2 = data_new.groupby(['CHAS', 'RAD'])['RAD'].count()
print(data_new2)

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: RAD, dtype: int64

In [ ]:
#COUNT 칼럼 만들기
# print(type(data_new2))
data_new3 = pd.DataFrame(data_new2)
data_new3.columns = ['COUNT']
print(data_new3)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

In [ ]:
#라이브러리, 데이터 로드
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')

#중위값 구하기
tax_median = data['TAX'].median()
# print(tax_median)

#중위값 보다 큰 값 기준으로 CHAS, RAD 칼럼 추출
# print(data[data['TAX'] > tax_median][['CHAS', 'RAD']])

#그룹화 & 각 그룹의 데이터 개수
data_new = data[data['TAX'] > tax_median][['CHAS', 'RAD']]
data_new2 = data_new.groupby(['CHAS', 'RAD'])['RAD'].count()
# print(type(data_new2))

#COUNT 칼럼 만들기
data_new3 = pd.DataFrame(data_new2)
data_new3.columns = ['COUNT']
print(data_new3)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

2. 오름차순/내림차순 정렬하기

In [ ]:
#라이브러리, 데이터 로드
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')

#오름차순 정렬
data_asc = data['TAX'].copy()
data_asc = data_asc.sort_values(ascending=True)
data_asc.reset_index(drop=True, inplace=True)
# print(data_asc.head())

#내림차순 정렬
data_desc = data['TAX'].copy()
data_desc = data_desc.sort_values(ascending=False)
data_desc.reset_index(drop=True, inplace=True)
# print(data_desc.head())

#concat
data_concat = pd.concat([data_asc, data_desc], axis=1)

#값 차이
data_concat['diff'] = abs(data_concat.iloc[:,0] - data_concat.iloc[:,1])
# print(data_concat)

#분산 값
print(data_concat['diff'].var())

28490.5986459515

3. 최소최대 변환하기

In [ ]:
#라이브러리, 데이터 로드
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')
scaler = MinMaxScaler()

#척도 변환
data_minmax = scaler.fit_transform(data)
data_minmax = pd.DataFrame(data_minmax, columns= data.columns)
data_minmax.head()

#0.5보다 큰 값 가지는 레코드 수
print(data_minmax[data_minmax['MEDV'] > 0.5]['MEDV'].count())

106

4. 빈도값 구하기

In [ ]:
###첫번째 방법
#라이브러리, 데이터 로드
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')

#반올림
data_round = data['AGE'].copy()
data_round = round(data_round, 0)
# print(round(data_round))

#최빈값, 개수
# print(type(data_round))
data_round = pd.DataFrame(data_round)
data_count = data_round.groupby(['AGE'])['AGE'].count()

data_count = pd.DataFrame(data_count)
data_count.columns = ['COUNT']

data_count.reset_index(drop=False, inplace=True)
# print(data_count.head())

data_count.sort_values(by='COUNT', ascending=False, inplace=True)
# print(data_count.head())

print(data_count.iloc[0,0], data_count.iloc[0,1])

      AGE  COUNT
90  100.0     43
88   98.0     19
87   97.0     17
84   94.0     16
86   96.0     15
100.0 43

In [3]:
###두번째 방법
#라이브러리, 데이터 로드
import pandas as pd
from scipy.stats import mode
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')

#최빈값과 개수 구하기
data2 = round(data['AGE'], 0)
print(mode(data2))

ModeResult(mode=array([100.]), count=array([43]))

In [7]:
#최빈값과 최빈값 개수
print(int(mode(data2)[0]), int(mode(data2)[1]))

100 43

5. 표준 변환하기

In [17]:
#라이브러리, 데이터 로드
import pandas as pd
from sklearn.preprocessing import StandardScaler
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')
scaler = StandardScaler()

#표준화 척도 변환
data_std = scaler.fit_transform(data)
# print(type(data_std))
data_std = pd.DataFrame(data_std, columns= data.columns)

#0.4보다 크고 0.6보다 작은 값
data_std = data_std[(data_std['DIS'] > 0.4) & (data_std['DIS'] < 0.6)]['DIS'].mean()
print(round(data_std, 2))

0.48

In [22]:
#라이브러리, 데이터 로드
import pandas as pd
from sklearn.preprocessing import StandardScaler
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')
scaler = StandardScaler()

#표준화 척도 변환
data_stdd = scaler.fit_transform(data)
# print(type(data_stdd))
data_stdd = pd.DataFrame(data_stdd, columns= data.columns)

#0.4보다 크고 0.6보다 작은 값의 평균
data_stdd2 = data_stdd[(data_stdd['DIS'] > 0.4) & (data_stdd['DIS'] < 0.6)]['DIS'].mean()
# print(data_stdd2)

#반올림
print(round(data_stdd2, 2))

0.48

6. 유니크한 값 구하기

In [36]:
#라이브러리, 데이터 로드
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/bigData-main/boston.csv')

#칼럼 목록
# print(data.columns)
data_col = data.columns
# print(data_col.size)

#칼럼별 유니크한 값 개수
sum = 0
for col in data_col:
  sum += int(pd.DataFrame(data[col].unique()).count()[0])

#평균값 = 유니크한 값 개수/칼럼 개수
print(sum / data_col.size)

218.0