## 문제 1


판다스를 import 하고 버전을 출력하세요

In [2]:
import pandas as pd

In [59]:
#버전출력!
print(pd.__version__)

1.3.4

## 문제 2

아래 list, numpy array, dictionary를 활용해 pandas series를 출력하세요

```
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
```

In [61]:
#answer
import numpy as np
mylist=list('abcdefghijklmnopqrstuvwxyz')
#a,b,c 각 문자들이 하나의 리스트가 됨

myarr=np.arange(26)
mydict=dict(zip(mylist,myarr))

ser1=pd.Series(mylist)
print("ser1")
print(ser1)

ser2=pd.Series(mylist)
print("ser2")
print(ser2)

ser3=pd.Series(mylist)
print("ser3")
print(ser3)

ser1
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
ser2
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
ser3
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [9]:
#my
x=pd.Series(mydict)
x

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

## 문제 3

두 series의 값을 포함하는 dataframe을 출력하세요
```
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
```

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

## 문제 4

ser1 Series에서 ser2 Series에 있는 요소들을 제외한 나머지 요소를 출력하세요

```
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

0    1
1    2
2    3
dtype: int64

In [65]:
#isin 함수
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

## 문제 5

ser의 최소값, 25번째 백분위수(25th percentile), 중앙값(median), 75번째 백분위수(75th percentile) 및 최대값을 계산합니다. 

```

ser = pd.Series(np.random.normal(10, 5, 25))
```

In [66]:
#my
ser = pd.Series(np.random.normal(10, 5, 25))
print(ser.min())
print(ser.quantile(.25))
print(ser.median())
print(ser.quantile(.75))
print(ser.max())

#normal 정규분포

-0.7565219416915383
6.397972902090839
9.0663274914234
11.747515776310722
16.137449449344892

In [68]:
ser = pd.Series(np.random.normal(10, 5, 25))
print(ser.describe())
np.percentile(ser,q=[0,25,50,75,100])

count    25.000000
mean      9.787988
std       5.343851
min      -2.906652
25%       6.545369
50%       8.104663
75%      11.285741
max      22.567455
dtype: float64

array([-2.90665159,  6.54536869,  8.10466293, 11.28574139, 22.56745475])

## 문제 6

아래 ser Series의 각 고유 값과 빈도 수를 계산합니다.

```
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

```

array(['a', 'h', 'd', 'd', 'e', 'a', 'f', 'h', 'c', 'g', 'c', 'd', 'c',
       'e', 'c', 'a', 'h', 'a', 'f', 'g', 'e', 'd', 'f', 'c', 'a', 'e',
       'f', 'g', 'f', 'f'], dtype='<U1')

In [55]:
###
#np.take = 데이터의 행이나 열 추출
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser)

0     d
1     b
2     c
3     a
4     f
5     f
6     d
7     f
8     g
9     f
10    h
11    h
12    h
13    g
14    e
15    c
16    g
17    a
18    d
19    g
20    f
21    h
22    c
23    c
24    e
25    g
26    h
27    c
28    a
29    h
dtype: object
30

## 문제 7

Series ser을 7*5 행렬로 전환하세요
전환시 재배열되는 요소의 순서는 아래 예시를 참고해주세요
[0,1,2,3] 
=>  [ [0, 1]
     ,[2, 3]] 
```
ser = pd.Series(np.random.randint(1, 10, 35))
```

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
5  25  26  27  28  29
6  30  31  32  33  34

## 문제 8

ser에서 3의 배수인 숫자의 위치를 찾으세요.
```
ser = pd.Series(np.random.randint(1, 10, 7))
```

In [52]:
#re!!
ser = pd.Series(np.random.randint(1, 10, 7))
x=pd.Series(ser[ser.mod(3)==0])
print(x)
print(x.index)

1    3
5    3
dtype: int32
Int64Index([1, 5], dtype='int64')

## 문제 9

ser1 및 ser2를 수직 및 수평으로 쌓은(stack) 값을 각각 Series 및 dataframe으로 출력하세요.
```
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
```

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

## 문제 10

일련의 문자열을 datetime으로 변환해 주세요

```
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
```

In [58]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser = pd.to_datetime(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser

DatetimeIndex(['2010-01-01 00:00:00', '2011-02-02 00:00:00',
               '2012-03-03 00:00:00', '2013-04-04 00:00:00',
               '2014-05-05 00:00:00', '2015-06-06 12:20:00'],
              dtype='datetime64[ns]', freq=None)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

## 문제 11

각 과일의 무게 평균 계산해 주세요 

```
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weight.tolist())
print(fruit.tolist())
```

apple     4.000000
banana    7.333333
carrot    5.666667
dtype: float64

## 문제 12

ser에 누락된 날짜와 값이 있습니다. 누락된 날짜를 모두 표시하고 이전 날짜의 값으로 채우십시오.

```
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)
#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64
```

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

## 문제 13

가격이 가장 높은 제조업체, 모델 및 유형은 무엇입니까?

Price 값이 가장 높은 셀의 행과 열 번호는 무엇입니까?

찾아낸 행과 열번호에 대응하는 값을 반환해주세요

https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv

[58]
[4]
61.9

61.9

## 문제 14

Type 열의 이름을 df에서 CarType으로 바꾸고 열 이름의 '.'를 '_'로 바꾸세요

https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

## 문제 15

df에 누락된 값이 있는지 확인하세요.

입력: https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv

## 문제 16

Min.Price 및 Max.Price 열의 누락된 값을 각각의 평균으로 교체하세요

입력: df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091